doctype html
html
  head
    meta(charset='utf-8')
    title #{title} - Finance Bot
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/styles.css', rel='stylesheet')

  body
    include partials/header

    .container      
      block content

    include partials/footer

    script(src='/js/jquery-2.1.1.js')
    script(src='/js/bootstrap.min.js')