extends ../layout

block content
  .page-header
    h3 Finance Bot
  form.form-horizontal(method='post')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='id2') ID
      .col-sm-7
        input.form-control(type='text', name='id2', id='id2', placeholder='ID', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.col-sm-3.btn.btn-primary(type='submit')
          i.fa.fa-user
          | Get Token 
      .col-sm-offset-3.col-sm-7 
          if error != 'no'
            label.error-msg-1 Invalid Client! Please recheck your credential!   
